<h1>{{ .Page.Title }}</h1>


<p>{{ .Site.BaseURL }}/{{ .Page.Section }}</p>

<p>&nbsp;</p>

<p>
    <i class="fas fa-envelope"></i> {{ .Site.Params.author.email }}
    &emsp;
    <i class="fab fa-twitter"></i> {{ .Site.Params.author.twitter }}
    <br />
    <i class="fas fa-pen"></i> {{ .Site.Params.author.blog }}
</p>